@using System;
@using System.IO;
@using Newtonsoft.Json;
@using IF.Core.Sms;


@model List<SmsBatchResultOneToMany>




@{
    Layout = "_ModalLayout";
}

<h2>Batchs</h2>

<table class="table table-striped table-sm">
    <tr>

        <th>
            Batch Name
        </th>
        <th>
            Batch Number
        </th>
        <th>
            Batch Count
        </th>
        <th>
            IntegrationId
        </th>
        <th>
            Error Code
        </th>
        <th>
            Status
        </th>
        <th>
            Created Date
        </th>
    </tr>


    @if (Model != null && Model.Any())
    {

        @foreach (var item in Model)
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BatchCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntegrationId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ErrorCode)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>

    </tr>
        }
    }
    else
    {
        @:Veri bulunamadı.
    }
</table>


