@page
@model IF.System.UI.Events.Pages.EventsModel
@{
    ViewData["Title"] = "Events";
}

@{
    Layout = "_Layout";
}

<h2>Events</h2>

<form method="post">

    <div class="row">
        <div class="col-xs-6">

            Başlangıç Tarihi: <input type="text" class="form-control" id="BeginDate" name="BeginDate" value="@Model.BeginDate.ToShortDateString()">
        </div>
        <div class="col-xs-6">
            Bitiş Tarihi: <input type="text" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate.ToShortDateString()">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            ServiceName: <input type="text" class="form-control" id="ServiceName" name="ServiceName" value="@Model.ServiceName">
        </div>
        <div class="col-xs-6">
            EventType: <input type="text" class="form-control" id="EventType" name="EventType" value="@Model.EventType">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            UniqueId: <input type="text" class="form-control" id="UniqueId" name="UniqueId" value="@Model.UniqueId">
        </div>
        <div class="col-xs-6">
            SourceId: <input type="text" class="form-control" id="SourceId" name="SourceId" value="@Model.SourceId">
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-6">
                Skip: <input type="text" class="form-control" id="Skip" name="Skip" value="@Model.Skip">
            </div>
            <div class="col-xs-6">
                Take: <input type="text" class="form-control" id="Take" name="take" value="@Model.Take">
            </div>
        </div>*@
    <br />
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    </div>

    <br />
    <partial name="_EventsTable" model="Model" />

</form>


