@using IF.Web.Mvc.FluentHtml.Pagination
@using System;
@using System.IO;
@using Newtonsoft.Json;

@model TutumluAnne.Log.AdminUI.Pages.AuditLogModel



<div id="AuditLogDiv">
    @(Html.Paging(Model.Logs)
                .Url(Url.Page("/AuditLog", "AuditLogPartial"))
                .MergeFormData(true)
                .UpdateId("AuditLogDiv")
                .Render()
    )
    <table class="table table-striped table-sm">
        <tr>
            @*<th>
                Id
            </th>*@
            <th>
                Tarih
            </th>
            <th>
                MethodName
            </th>

            <th>
                Kanal
            </th>

            <th>
                Client Ip
            </th>
            <th>
                UserId
            </th>

            <th>
                Detail
            </th>
            <th>
                Events
            </th>
        </tr>
        @if (Model.Logs.Data != null && Model.Logs.Data.Any())
        {

            @foreach (var item in Model.Logs.Data)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.UniqueId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.LogDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Channel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           href="@Url.Page("AuditLog", "Detail", new { uniqueId = item.UniqueId })"
                           if-ajax="true"
                           if-ajax-method="get"
                           if-ajax-mode="replace"
                           if-ajax-show-dialog="true"
                           if-ajax-modal-id="@Guid.NewGuid()">
                            Detay
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           href="@Url.Page("AuditLog", "EventsPartial", new { uniqueId = item.UniqueId })"
                           if-ajax="true"
                           if-ajax-method="get"
                           if-ajax-mode="replace"
                           if-ajax-show-dialog="true"
                           if-ajax-modal-id="@Guid.NewGuid()">
                            Events
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            @:Veri bulunamadı,Lütfen Kriter seçiniz
        }
        </table>
        @(Html.Paging(Model.Logs)
                            .Url(Url.Page("/AuditLog", "AuditLogPartial"))
                            .MergeFormData(true)
                            .UpdateId("AuditLogDiv")
                            .Render()
                            )
</div>