@using IF.Web.Mvc.FluentHtml.Pagination

@model TutumluAnne.Log.AdminUI.Pages.EventsModel




<div id="EventsDiv">
    @(Html.Paging(Model.Events)
                    .Url(Url.Page("/Events", "EventsPartial"))
                    .MergeFormData(true)
                    .UpdateId("EventsDiv")
                    .Render()
    )
    <table class="table table-striped table-sm">
        <tr>
            <th>
                Id
            </th>
            <th>
                Tarih
            </th>
            <th>
                EventTypeName
            </th>
            <th>
                ServiceName
            </th>

            <th>
                Durum
            </th>
            <th>
                Source
            </th>

        </tr>
        @if (Model.Events.Data != null && Model.Events.Data.Any())
        {
            @foreach (var item in Model.Events.Data)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceId)
            </td>
            @*
            <td>
                <a class="btn btn-primary"
                   href="@Url.Page(" EmailLog","Body", new {uniqueId=item.UniqueId })"
                   if-ajax="true"
                   if-ajax-method="get"
                   if-ajax-mode="replace"
                   if-ajax-show-dialog="true"
                   if-ajax-modal-id="@Guid.NewGuid()">
                    Body
                </a>
            </td>

            <td>
                <a class="btn btn-primary"
                   href="@Url.Page(" AuditLog","Detail", new {uniqueId=item.SourceId })"
                   if-ajax="true"
                   if-ajax-method="get"
                   if-ajax-mode="replace"
                   if-ajax-show-dialog="true"
                   if-ajax-modal-id="@Guid.NewGuid()">
                    Producer
                </a>
            </td>*@
        </tr>
            }
        }
        else
        {
            @:Veri bulunamadı,Lütfen Kriter seçiniz
        }


    </table>
    @(Html.Paging(Model.Events)
                   .Url(Url.Page("/Events", "EventsPartial"))
                   .MergeFormData(true)
                   .UpdateId("EventsDiv")
                   .Render()
    )
</div>