@page
@model TutumluAnne.Log.AdminUI.Pages.EmailLogModel
@{
    ViewData["Title"] = "ApplicationLog";
}

<h2>Email Log</h2>

<form method="post">

    <div class="row">
        <div class="col-xs-6">

            Başlangıç Tarihi: <input type="text" class="form-control" id="BeginDate" name="BeginDate" value="@Model.BeginDate.ToShortDateString()">
        </div>
        <div class="col-xs-6">
            Bitiş Tarihi: <input type="text" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate.ToShortDateString()">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            To: <input type="text" class="form-control" id="To" name="To" value="@Model.To">
        </div>
        <div class="col-xs-6">
            Type: <input type="text" class="form-control" id="type" name="type" value="@Model.Type">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            Skip: <input type="text" class="form-control" id="Skip" name="Skip" value="@Model.Skip">
        </div>
        <div class="col-xs-6">
            Take: <input type="text" class="form-control" id="Take" name="take" value="@Model.Take">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    </div>
</form>

<br />

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th>
                Tarih
            </th>
            <th>
                To
            </th>
            <th>
                Tip
            </th>

            <th>
                Gönderildi mi?
            </th>
            <th>Subject</th>
            <th>Body</th>
            <th>Source</th>
        </tr>

        @if (Model.Logs != null && Model.Logs.Any())
        {
            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IsSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           href="@Url.Page("EmailLog","Body", new {uniqueId = item.UniqueId })"
                           if-ajax="true"
                           if-ajax-method="get"
                           if-ajax-mode="replace"
                           if-ajax-show-dialog="true"
                           if-ajax-modal-id="@Guid.NewGuid()">
                            Body
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-primary"
                           href="@Url.Page("AuditLog","Detail", new {uniqueId = item.SourceId })"
                           if-ajax="true"
                           if-ajax-method="get"
                           if-ajax-mode="replace"
                           if-ajax-show-dialog="true"
                           if-ajax-modal-id="@Guid.NewGuid()">
                            Producer
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            @:Veri bulunamadı,Lütfen Kriter seçiniz
        }

    </table>
</div>