@page
@model TutumluAnne.Log.AdminUI.Pages.PerformanceLogModel
@{
    ViewData["Title"] = "Performance Low Stats";
}

<h2>Performance Low Stats</h2>

<form method="post">

    <div class="row">
        <div class="col-xs-6">

            Başlangıç Tarihi: <input type="text" class="form-control" id="BeginDate" name="BeginDate" value="@Model.BeginDate.ToShortDateString()">
        </div>
        <div class="col-xs-6">
            Bitiş Tarihi: <input type="text" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate.ToShortDateString()">
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <input class="btn btn-default" type="submit" value="Search" />
        </div>
    </div>
</form>

<br />

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th>
                Method Name
            </th>
            <th>
                Total Executaion Times
            </th>

            <th>
                Minimum
            </th>
            <th>
                Maxmimum
            </th>
            <th>
                Avarage
            </th>
        </tr>


        @foreach (var item in Model.Stats)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MethodName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimum) ms
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Maximimum) ms
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avarage) ms
            </td>
        </tr>
        }

    </table>
</div>